html,body{
    height:100%;
    width:100%;
}
a{
    text-decoration: none;

}

.clearfix:after{
    content:"";
    display:block;
    visibility: hidden;
    height:0;
    line-height:0;
    clear:both;
}
.clearfix{
    zoom:1;
}